body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background: #ffffff;
}
.page{ 
	width:auto;
	height:auto;
} 
.tile{ 
	width:auto;
	padding:5px;
	height:auto; display:table;
}
.org { 
	height:190px;
	width:210px;
	float:left;
	margin:0 10px 0 0;
	padding:2px;
	cursor: pointer;
	transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.orgBig{
    width:319px;
	cursor: pointer;
	transition-property: background, border-radius;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.orgBig:hover {
  background: #ff7b29;
  border-radius: 50%;
}

.yellow{
	background:#DAA520;
	}
.verm{
	background:#CD0000;
	}
.blue{
	background:#4682B4;
	}
.green{
	background-color: #2E8B57;
	}

h2 {
	font-size: 56px;
}

h3{
	font-size: 42px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #ffffff;
}

.hero {
	padding: 150px 0;
	margin: 30px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/challenge_photos/000/232/350/datas/full_width.png");
	background-size: cover;
  color: #ffffff;
}

p {
  font-size: 2rem;
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}

.name {
	text-align: center;
	width: 86%;
	padding: 25px;
	font-size: 35px;
	font-family: Impact, Charcoal, sans-serif;
	color: black;
}
nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;

}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}


#footer {
  font-size: 0.75rem;
}
